@{
    ViewBag.Title = "Cartoon Hub";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using cartoon.Models;
<html>
<head>
    <title>

    </title>
    <style>
        .list-group-item:hover {
            font-size: 20px;
        }

        .list-group {
            padding-left: 5%;
        }

        .video {
            padding-top: 10%;
            width: 70%;
            padding-left: 20%;
        }

        .video1 {
            padding-top: 10%;
            width: 70%;
            padding-left: 20%;
        }

        .videodiv {
            width: 66%;
        }
    </style>
</head>
<body>
    @{String name = ViewBag.chanelname;}
    <div class="row" style="padding-top:0.1%">
        <div class="col-md-8">
            <div class="col-md-4">
                <div class="list-group">
                    <h2>@ViewBag.chanelname</h2>
                </div>

            </div>
            <div class="col-md-4 videodiv">

                @if (ViewBag.subscribe != null)
                {
                    <div style="padding-top:10%">
                        ><input type="submit" class="btn-success" onclick="self.location='../addingsubscription/?name=@ViewBag.chanelname'" value="Subscribe" />
                    </div>
                }

                @if (ViewBag.videos != null)
                {    <h2 class="active list-group-item" style="background-color:#337ab7;font-size:20px; height:47px;color:white; padding-left:10px;border-radius:4px;border: 1px solid #ccc ">@ViewBag.categoryname</h2>

                    foreach (content c in ViewBag.videos)
                    {
                        <div class="video1 embed-responsive embed-responsive-16by9" align="center">
                            <video controls class="embed-responsive-item">
                                <source src="@("/Images/video/"+c.name) " />
                            </video>


                        </div>
                        <a href="@("/Home/video/?name="+c.name) style=" padding-top:5%"><h2>@c.name</h2></a>
                    }
                }
                <div style="padding-top:10%">
                    @if (ViewBag.subscribe == null)
                    {
                        <a href="@("/Admin/uploadvideo?name="+name)"><input type="button" class="btn-success" value="Upload" /></a>
                    }
                </div>
            </div>

        </div>


        <div class="col-md-4">
            @if (ViewBag.pictures != null)
            {
                <h2 class="active list-group-item" style="background-color:#337ab7;font-size:20px; height:47px;color:white; padding-left:10px;border-radius:4px;border: 1px solid #ccc ">Pictures </h2>

                foreach (content cont in ViewBag.pictures)
                {
                    <div class="row" style="padding-top:10%">

                        <div class="col-md-6 ">
                            <img class="image-responsive" src="@("/Images/picture/"+cont.name)" style="height:90%;width:90%;border-style:solid;border-color:black" />
                            <a href="@("/Home/picture/?name="+cont.name)" style=" padding-left:70px"><h3>@cont.name</h3></a>>
                        </div>



                    </div>
                }
            }
            <div style="padding-top:10%">
                @if (ViewBag.subscribe == null)
                {
                    <a href="@("/Admin/uploadpicture?name="+name)"><input type="button" class="btn-success" value="Upload" /></a>
                }
            </div>
        </div>
    </div>


</body>
</html>
